@import url("https://use.typekit.net/jmk3xov.css");

/* This is for the three.js affects where all the shapes are located */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/* the whole screen */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  padding-bottom: 1rem;
}

li {
  margin-left: 2rem;
  padding-bottom: 1rem;
}

h2{
  padding-top: 1rem;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  /* margin-bottom: var(--spacing); */
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  min-width: 350px;
  max-width: 700px;
}

.project-list {
  margin-bottom: 2rem;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: none;
  font-size: .85rem;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 7 / 12;
}

.blue {
  color: #04d9ff;
}

.purple {
  color: #bc13fe;
}

.green {
  color: #34fe4f;
}

.yellow {
  color: #FFFF00;
}

.orange {
  color: #ff6700;
}

.black {
  color: black;
}

.red {
  color: crimson
}

.pink {
  color: #FF14F0;
}

.github-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

#git-button {
  background-color: #232121;
  color: white;
  align-items: center;
}

#git-button:hover {
  background-color: #a4508b;
}

.button-group {
  display: flex;
  gap: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-left: 8%;
  padding-right: 8%;
  background-color: black;
  max-width: 700px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: #bc13fe;
  transition: .4s;
}

h2 {
  padding-bottom: 1rem;
}



/* @import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';



/* projects Section */
#projects .projects {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .project-top {
  max-width: 500px;
  margin: 0 auto;
}

#projects .project-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#projects .project-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./img/img-1.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-width: 300px;
  min-height: 350px;
}

.project-bottom :hover{
  transform: translate(-5px, -10px);
}

.project-item :hover{
transform: none;
}



#projects .project-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #5f0a87 0%, #a4508b 100%);
  opacity: 0.9;
  z-index: -1;
}

#projects .project-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#projects .project-item h2 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#projects .project-item p {
  color: black;
  text-align: left;
}

/* End projects Section */




/* Keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}

/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  h1.section-title {
    font-size: 6rem;
  }

  /* Hero */
  #hero h1 {
    font-size: 7rem;
  }

  /* End Hero */

  /* projects Section */
  #projects .project-bottom .project-item {
    flex-basis: 45%;
    margin: 2.5%;
  }

  /* End projects Section */



}

/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }

  /* End header */

  #projects .project-bottom .project-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}

/* End  Media Query For Desktop */